<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My RPG | Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header class="header-bar">
        <a href="{{ url_for('dashboard') }}" class="btn third create-character-btn">🏠 Dashboard</a>
        <a href="{{ url_for('logout') }}" class="btn danger">🚪 Logout</a>
    </header>

    <div class="container">
        <h1>💪 Begin Your Tale</h1>
        <p class="subtitle">A new story awaits!</p>
        <p>Pick a name, and set off on an unforgettable journey!
        </p>

            <div class="characters-section">
                <form method="POST" class="form unique-list">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        {{ form.name.label }}
                        {{ form.name(class="input-field", placeholder="Enter character name") }}
                    </div>
                    <div class="button-row">
                        {{ form.submit(class="btn play create-character-btn") }}
                        <a href="{{ url_for('dashboard') }}" class="btn third create-character-btn">Back</a>   
                    </div>    
                </form>
            </div>
    </div>
</body>
</html>
