<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My RPG | View Character</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header class="header-bar">
        <a href="{{ url_for('dashboard') }}" class="btn third create-character-btn">🏠 Dashboard</a>
        <a href="{{ url_for('logout') }}" class="btn danger">🚪 Logout</a>
    </header>

    <div class="container">
        <h1>{{character.name}}</h1>
        <div class="characters-section">

            <h2 style="padding: 20px;">Character Details:</h2>
            <div class="characters-section" style="padding: 20px;">
                <ul class="character-list" style="pointer-events: none;">
                    <li>
                        Strength: {{ character.strength }}
                    </li>
                    <li>
                        Gold: {{ character.gold }}
                    </li>
                    <li>
                        HP: {{ character.hp }} / {{ character.max_hp }}
                    </li>
                </ul>
            </div>
            <div class="button-row">
                <a href="{{ url_for('play_game', char_id=character.id) }}" class="btn play create-character-btn">Play</a> <!-- add functionality for play game in routeing-->
                <a href="{{ url_for('dashboard') }}" class="btn third create-character-btn">Back</a> <!-- merge create char button with brn class in css-->
            </div>
        
    </div>
</body>
</html>
